@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-oled text-white;
    -webkit-tap-highlight-color: transparent;
  }
}

/* Custom scrollbar to match OLED theme */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
